@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/materialize")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            @Html.ActionLink("Inventory", "Index", "Home", null, new { @class = "brand-logo center" })
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Products", "Index", "Product")</li>
                }
            </ul>
            <ul class="right">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <li>
                            Hello @User.Identity.GetUserName()!
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    }
                }
                else
                {
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                }
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        @if (Request.IsAuthenticated)
        {
            <li>@Html.ActionLink("Products", "List", "Product")</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        }
        else
        {
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
    </ul>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Inventory</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
</body>
</html>
